---
---

@import "minima";

.seperator{
    padding-left: 8px;
    padding-right: 8px;
}
.logo{
    margin-bottom: 0;
    float: left;
    height: 30px;
    padding-top: 13px;
    padding-right: 50px;    
}
.site-title{
    font-weight: bold;
    color: #000099;
}
.site-sub-title{
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left; 
}
.site-header{
    border-top: none;
    border-bottom: 3px solid #000099;
}
.wrapper{
    max-width: calc(1200px - (30px * 2));
}
.center-div {
    display: table;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 35px; 
    width: 100%;
 }
 .center-form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 } 
  
/* tiles styles */
.tiles {
    padding: 0px 0px 0px 0px;
}
  
.tiles > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-left: 0px;
}
  
.tiles > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
}  

.tiles > ul > li > h1 { 
    padding: 10px 10px 10px 15px;
    margin-bottom: 0px;
} 

.tiles > ul > li > p {  
    padding: 10px 15px 10px 15px;
}

.tiles > ul > li > a {
    padding: 10px 10px 10px 10px;
}
  
input {
    outline: none; 
}
input[type=text] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}
input[type=text] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 50%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; 
}
input[type=text]:focus {
    width: 50%;
    background-color: #fff;
    border-color: #000099;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}




